
<p class=" ">Volume: <%= aquarium.size%> gallons</p>

<p>Salinity: <%= aquarium.water_type%></p>

<p>Filter Style: <%= aquarium.filter %></p>

<p>Plants: <% if aquarium.plants == true %>
  Live Plants
<% elsif aquarium.plants == false %>
  <span>Artificial or None</span>
<% end%>

<p>Substrate type: <%= aquarium.substrate %></p>
