<h1 class="text-center underline underline-offset-4 text-3xl font-medium mb-4">Edit Aquarium</h1>

<div class="block max-w-sm mx-auto rounded-lg bg-white p-6 shadow-lg dark:bg-neutral-700" >
  <%= render "form", aquarium: @aquarium %>

  <br>

  <div>
    <button type="button" >
    <%= link_to "Back", @aquarium, {:class => "text-xs inline-block rounded bg-teal-700 dark:bg-teal-500 px-3 pt-2 pb-1.5 mt-1.5 self-end  "} %>
    </button>
     <button type="button" >
     <%= link_to "All Aquariums", aquariums_path, {:class => "text-xs inline-block rounded bg-teal-700 dark:bg-teal-500 px-3 pt-2 pb-1.5 mt-1.5 self-end  "} %>
     </button>
    
  </div>
</div>
