<h1>Aquariums</h1>
<%= link_to "New aquarium", new_aquarium_path %>
<div id="aquariums">
  <% @aquariums.each do |aquarium| %>
    <%= render aquarium %>
    <p>
      <%= link_to "Show this aquarium", aquarium %>
    </p>
  <% end %>
</div>


