<h1 class="text-center underline underline-offset-4 text-3xl font-medium">Fish Facts</h1>
<h1>New aquarium</h1>

<%= render "form", aquarium: @aquarium %>

<br>

<div>
  <%= link_to "Back to aquariums", aquariums_path %>
</div>
