<h1 class="text-center underline underline-offset-4 text-3xl font-medium mb-4">New aquarium</h1>
<div class=" rounded-lg max-w-sm mx-auto bg-white p-6 shadow-lg dark:bg-neutral-700" >
  <%= render "form", aquarium: @aquarium %>

  <br>

  <button type="button" >
    <%= link_to "Back to aquariums", aquariums_path, {:class => "text-xs inline-block rounded bg-teal-700 dark:bg-teal-500 px-3 pt-2 pb-1.5 mt-1.5 self-end  "} %>
  </button>
</div>

