<h1><%= @aquarium.user.name %>'s Aquarium</h1>

<%= render @aquarium%>


<% link_to "Show", aquarium_path(@aquarium)%>
<% if current_user == @aquarium.user %>
  <% link_to "Edit", edit_aquarium_path(@aquarium) %>
  <% button_to "Delete", @aquarium, method: :delete %>
<% end %>
