<h1 class="text-center underline underline-offset-4 text-3xl font-medium mb-4">Welcome to Aquatanks!</h1>
<div class="flex mx-auto -ml-36">
  <img class="flex mx-auto" src="https://webstockreview.net/images/fishbowl-clipart-acquarium-15.png" alt="ClipArt of an empty aquarium" >
</div>

