<h1 class="text-center underline underline-offset-4 text-3xl font-medium">Welcome to Aquatanks!</h1>
<br>
<div class="">
  <img class="" src="https://webstockreview.net/images/fishbowl-clipart-acquarium-15.png" alt="ClipArt of an empty aquarium" >
</div>

