<div class="container content-center">
  <img class="max-h-screen content-center" src="https://webstockreview.net/images/fishbowl-clipart-acquarium-15.png" alt="ClipArt of an empty aquarium" >
</div>

