<h1 class="text-center font-semibold text-3xl underline underline-offset-4 mb-4">Aquarium Fish</h1>

<div id="fishes" class="grid lg:grid-cols-3 md:grid-cols-2 gap-y-4 ml-20">
  <% @fishes.each do |fish| %>
  <div class="justify-start">
    <div class="w-full mb-4">
      <div class="h-32">
        <h5 class="font-bold"><%= fish.common_name %></h5>
        <p class="italic"><%= fish.taxonomic_name %></p>
        <button type="button" >
          <%= link_to "More info...", fish, {:class => "text-xs inline-block rounded bg-teal-700 dark:bg-teal-500 px-3 pt-2 pb-1.5 mt-1.5 self-end  "} %>
        </button>
      </div>
    </div>
  </div>
  <% end %>
</div>
