<h1 class="text-center font-semibold text-3xl underline underline-offset-4">Aquarium Fish</h1>
<br>
<div id="fishes" class="columns-2xs">
  <% @fishes.each do |fish| %>
  <div class="">
    <div class="card w-full mb-4">
      <div class="card-body">
        <h5 class="font-bold card-title"><%= fish.common_name %></h5>
        <p class="italic card-text"><%= fish.taxonomic_name %></p>
        <button class="text-xs">
          <%= link_to "More info...", fish %>
        </button>
      </div>
    </div>
  </div>
  <% end %>
</div>
