<h1 class="text-center underline underline-offset-4 text-3xl font-medium mb-4">Fish Facts</h1>
<br>
<div class="m-auto block" >
  <%= render @fish %>
  <button class="text-xs inline-block rounded bg-teal-700 dark:bg-teal-500 px-3 " type="button" >
    <%= link_to "Back to Fish List", fishes_path %>
  </button>
</div>


